RestSharp.Serializers.Newtonsoft.Json/obj/
RestSharp.Serializers.Newtonsoft.Json.Tests/obj/
RestSharp.Serializers.Newtonsoft.Json.Tests/bin/
RestSharp.Serializers.Newtonsoft.Json/bin/Debug/netstandard1.6/RestSharp.Serializers.Newtonsoft.Json.deps.json
RestSharp.Serializers.Newtonsoft.Json/bin/
.vs/
